extends layout

block content

	#delivery.container
		#delivery-wrapper
			h1#delivery-header Please enter your shipping info
			h4#delivery-subheader We treat your coffee like gold.  Like black gold(not Texas tea).  It will be shipped safely and is guarenteed.
			form#delivery-address-form.form-group(name="delivery-form", action="/delivery", method="post")
				#delivery-address-form-wrapper
					h2 Address
					h4 Full Name
					input.form-control(placeholder="Full Name" value=(fullName != undefined ? fullName : '') name="name")
					p.delivery-input-subhead Full Name
					h4 Address Line 1
					input.form-control(placeholder="Addres Line 1" value=(addressOne != undefined ? addressOne : '') name="address1")
					p.delivery-input-subhead Street address, P.O. box, company name, c/o
					h4 Address Line 2 
					input.form-control(placeholder="Address Line 2" value=(addressTwo != undefined ? addressTwo : '') name="address2")
					p.delivery-input-subhead Apartment, suite, unit, building, floor, etc.
					h4 City
					input.form-control(placeholder="City" value=(city != undefined ? city : '') name="city")
					p.delivery-input-subhead City, town, etc.
					h4 State / Province / Region
					select.form-control(name='state')
						option(value='', selected=(state == undefined)) Select a State
						option(value='AL', selected=(state == 'AL')) Alabama
						option(value='AK', selected=(state == 'AK')) Alaska
						option(value='AZ', selected=(state == 'AZ')) Arizona
						option(value='AR', selected=(state == 'AR')) Arkansas
						option(value='CA', selected=(state == 'CA')) California
						option(value='CO', selected=(state == 'CO')) Colorado
						option(value='CT', selected=(state == 'CT')) Connecticut
						option(value='DE', selected=(state == 'DE')) Delaware
						option(value='DC', selected=(state == 'DC')) District Of Columbia
						option(value='FL', selected=(state == 'FL')) Florida
						option(value='GA', selected=(state == 'GA')) Georgia
						option(value='HI', selected=(state == 'HI')) Hawaii
						option(value='ID', selected=(state == 'ID')) Idaho
						option(value='IL', selected=(state == 'IL')) Illinois
						option(value='IN', selected=(state == 'IN')) Indiana
						option(value='IA', selected=(state == 'IA')) Iowa
						option(value='KS', selected=(state == 'KS')) Kansas
						option(value='KY', selected=(state == 'KY')) Kentucky
						option(value='LA', selected=(state == 'LA')) Louisiana
						option(value='ME', selected=(state == 'ME')) Maine
						option(value='MD', selected=(state == 'MD')) Maryland
						option(value='MA', selected=(state == 'MA')) Massachusetts
						option(value='MI', selected=(state == 'MI')) Michigan
						option(value='MN', selected=(state == 'MN')) Minnesota
						option(value='MS', selected=(state == 'MS')) Mississippi
						option(value='MO', selected=(state == 'MO')) Missouri
						option(value='MT', selected=(state == 'MT')) Montana
						option(value='NE', selected=(state == 'NE')) Nebraska
						option(value='NV', selected=(state == 'NV')) Nevada
						option(value='NH', selected=(state == 'NH')) New Hampshire
						option(value='NJ', selected=(state == 'NJ')) New Jersey
						option(value='NM', selected=(state == 'NM')) New Mexico
						option(value='NY', selected=(state == 'NY')) New York
						option(value='NC', selected=(state == 'NC')) North Carolina
						option(value='ND', selected=(state == 'ND')) North Dakota
						option(value='OH', selected=(state == 'OH')) Ohio
						option(value='OK', selected=(state == 'OK')) Oklahoma
						option(value='OR', selected=(state == 'OR')) Oregon
						option(value='PA', selected=(state == 'PA')) Pennsylvania
						option(value='RI', selected=(state == 'RI')) Rhode Island
						option(value='SC', selected=(state == 'SC')) South Carolina
						option(value='SD', selected=(state == 'SD')) South Dakota
						option(value='TN', selected=(state == 'TN')) Tennessee
						option(value='TX', selected=(state == 'TX')) Texas
						option(value='UT', selected=(state == 'UT')) Utah
						option(value='VT', selected=(state == 'VT')) Vermont
						option(value='VA', selected=(state == 'VA')) Virginia
						option(value='WA', selected=(state == 'WA')) Washington
						option(value='WV', selected=(state == 'WV')) West Virginia
						option(value='WI', selected=(state == 'WI')) Wisconsin
						option(value='WY', selected=(state == 'WY')) Wyoming
					h4 Zip Code
					input#zipcode.form-control(placeholder="Zip Code", value=(zipcode != undefined ? zipcode : ''), name="zip", type="number", maxlength="5")
					h4 Date of next delivery (this will be your first delivery if you are just signing up)
					input#delivery-date.form-control(placeholder="", name="deliveryDate", value=(deliveryDate != undefined ? deliveryDate : ''))
				input.btn.btn-primary.btn-lg(type="submit", name="submit")
			