extends layout

block content

	#delivery.container
		#delivery-wrapper
			h1#delivery-header Please enter your shipping info
			h4#delivery-subheader We treat your coffee like gold.  Like black gold(not Texas tea).  It will be shipped safely and is guarenteed.
			form#delivery-address-form.form-group
				h2 Address
				h4 Full Name
				input.form-control(placeholder="Full Name" name="name")
				p.delivery-input-subhead Full Name
				h4 Address Line 1
				input.form-control(placeholder="Addres Line 1" name="address1")
				p.delivery-input-subhead Street address, P.O. box, company name, c/o
				h4 Address Line 2 
				input.form-control(placeholder="Address Line 2" name="address2")
				p.delivery-input-subhead Apartment, suite, unit, building, floor, etc.
				h4 City
				input.form-control(placeholder="City" name="city")
				p.delivery-input-subhead City, town, etc.
				h4 State / Province / Region
				input.form-control(placeholder="Full Name")
				h4 Zip Code
				input#zipcode.form-control(placeholder="Zip Code" name="zip" type="number" maxlength="5")
				h4 Date of next delivery (this will be your first delivery if you are just signing up)
				input#delivery-date.form-control(placeholder="" name="deliveryDate")
			