extends layout

block content

	#payment.container
		#payment-wrapper
			h1#payment-header Thank you!
				#thankyou-message Thank you for your order, let us know if there is anything else you need
				