/* line 5, ../../compass/sass/config/_vars.scss */
* {
  color: black;
}

/* line 5, ../../compass/sass/layout/_layout.scss */
* {
  color: black;
}

/* line 5, ../../compass/sass/layout/_header.scss */
* {
  color: black;
}

/* line 5, ../../compass/sass/layout/_footer.scss */
* {
  color: black;
}

/* line 5, ../../compass/sass/views/_home.scss */
* {
  color: black;
}

/* line 5, ../../compass/sass/views/_subscribe.scss */
* {
  color: black;
}
